
@{
    ViewBag.Title = "Customer";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            @{Html.RenderPartial("~/Views/Project/Add.cshtml");}
        </div>
        <div class="col-md-7 projects">
            <div class="card shadow mb-3">
                <div class="card-header">PJ #1</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail" src="images/pj_logo.png" alt="logo" width="100" height="100">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title">Pic W Post</h5>
                            <h6 class="card-subtitle mb-2 text-muted">PicWPost is a start up on the rise that is poised to change the world of accounting experience.</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <small class="text-muted">last updated 3 time ago</small>
                        </div>
                        <div class="col-md-6">
                            <div class="accordion" id="pjManagerAccordion">
                                <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Requests
                                    <span class="badge badge-primary">2</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="collapse hidden" aria-labelledby="headingOne" data-parent="#pjManagerAccordion">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Ahmed aly
                            <button class="btn btn-success float-right">Assign</button>
                        </li>
                        <li class="list-group-item">
                            Mohamed fouad
                            <button class="btn btn-success float-right">Assign</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mb-3">
                <div class="card-header">PJ #1</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail" src="images/pj_logo.png" alt="logo" width="100" height="100">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title">Pic W Post</h5>
                            <h6 class="card-subtitle mb-2 text-muted">PicWPost is a start up on the rise that is poised to change the world of accounting experience.</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <small class="text-muted">last updated 3 time ago</small>
                        </div>
                        <div class="col-md-6">
                            <div class="accordion" id="pjManagerAccordion">
                                <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    Requests
                                    <span class="badge badge-primary">2</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse2" class="collapse hidden" aria-labelledby="headingOne" data-parent="#pjManagerAccordion">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Ahmed aly
                            <button class="btn btn-success float-right">Assign</button>
                        </li>
                        <li class="list-group-item">
                            Mohamed fouad
                            <button class="btn btn-success float-right">Assign</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mb-3">
                <div class="card-header">PJ #1</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail" src="images/pj_logo.png" alt="logo" width="100" height="100">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title">Pic W Post</h5>
                            <h6 class="card-subtitle mb-2 text-muted">PicWPost is a start up on the rise that is poised to change the world of accounting experience.</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <small class="text-muted">last updated 3 time ago</small>
                        </div>
                        <div class="col-md-6">
                            <div class="accordion" id="pjManagerAccordion">
                                <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    Requests
                                    <span class="badge badge-primary">2</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse3" class="collapse hidden" aria-labelledby="headingOne" data-parent="#pjManagerAccordion">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Ahmed aly
                            <button class="btn btn-success float-right">Assign</button>
                        </li>
                        <li class="list-group-item">
                            Mohamed fouad
                            <button class="btn btn-success float-right">Assign</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $('#add_project').on("submit" , function(event){
        event.preventDefault();
        $('.projects').prepend(`
            <div class="card shadow mb-3" id="4">
                <div class="card-header">new project</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail" src="/images/pj_logo.png" alt="logo" width="100" height="100">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title">Pic W Post</h5>
                            <h6 class="card-subtitle mb-2 text-muted">PicWPost is a start up on the rise that is poised to change the world of accounting experience.</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <small class="text-muted">last updated 3 time ago</small>
                        </div>
                    </div>
                </div>
            </div>
            `);
        $('#4').hide();
        $('#4').slideToggle();
    })
    </script>
}