<div class="card mb-3 border-dark shadow">
    <div class="card-header bg-dark text-white">+ Add Project</div>
    <div class="card-body">
        <form id="add_project">
            <div class="form-group">
                <label for="pjname">Project Name:</label>
                <input class="form-control" id="name" name="name" placeholder="Enter project name" required>
            </div>
            <div class="form-group">
                <label for="project_description">Project Description:</label>
                <textarea class="form-control" id="description" name="description" placeholder="Enter project Description" required>
                </textarea>
            </div>
            <div class="form-group">
                <label for="manager_exp">Manager Experience (years +):</label>
                <input class="form-control" type="number" id="exp" name="exp" placeholder="experience in years (1 , 2 , ..)" required>
            </div>
            <button type="submit" class="btn btn-dark btn-block mt-5">Add project</button>
        </form>
    </div>
</div>