<div class="card mb-3 border-dark shadow">
    <div class="card-header bg-dark text-white">+ Add Project</div>
    <div class="card-body">
        <form id="add_project">
            <div class="form-group">
                <label for="pjname">Project Name:</label>
                <input class="form-control" id="pjname" placeholder="Enter project name">
            </div>
            <div class="form-group">
                <label for="project_description">Project Description:</label>
                <textarea class="form-control" id="project_description" placeholder="Enter project Description"></textarea>
            </div>
            <div class="form-group">
                <label for="manager_exp">Manager Experience (years +):</label>
                <input class="form-control" type="number" id="manager_exp" placeholder="experience in years (1 , 2 , ..)">
            </div>
            <div class="form-group">
                <label for="project_details">Project Details:</label>
                <input class="form-control-file" type="file" id="project_details">
            </div>
            <button type="submit" class="btn btn-dark btn-block mt-5">Add project</button>
        </form>
    </div>
</div>