<div class="card mb-3 border-dark shadow edit-project">
    <div class="card-header bg-dark text-white">Edit Project</div>
    <div class="card-body">
        <form id="edit_project_form">
            <div class="form-group">
                <label for="pjname">Project Name:</label>
                <input class="form-control edit-project-name" id="pjname" placeholder="Enter project name">
            </div>
            <div class="form-group">
                <label for="project_description">Project Description:</label>
                <textarea class="form-control edit-project-description" id="project_description" placeholder="Enter project Description"></textarea>
            </div>
            <div class="form-group">
                <label for="manager_exp">Manager Experience (years +):</label>
                <input class="form-control edit-project-experience" type="number" id="manager_exp" placeholder="experience in years (1 , 2 , ..)">
            </div>
            <button type="submit" class="btn btn-dark btn-block mt-5">Edit</button>
        </form>
    </div>
</div>