
@{
                /**/

                ViewBag.Title = "Projects";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#all" status="-1">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pending" status="0">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#approved" status="3">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#declined" status="4">Declined</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#inprogress" status="5">In Progress</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#delivered" status="1">Delivered</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#not_delivered" status="2">Not Delivered</a>
    </li>
</ul>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-7">
            <div class="tab-content">
                <div id="all" class="tab-pane active">
                </div>
                <div id="pending" class="tab-pane fade">
                </div>
                <div id="approved" class="tab-pane fade">
                </div>
                <div id="declined" class="tab-pane fade">
                </div>
                <div id="inprogress" class="tab-pane fade">
                </div>
                <div id="delivered" class="tab-pane fade">
                </div>
                <div id="not_delivered" class="tab-pane fade">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            @{Html.RenderPartial("~/Views/Project/Show.cshtml");}
            @{Html.RenderPartial("~/Views/Project/Edit.cshtml");}
            <div class="text-center"><i class="fas fa-4x fa-spinner fa-spin text-dark"></i></div>
        </div>
    </div>
</div>
@section scripts{
    <script>
    $('.fa-spinner').hide();
    $('.edit-project').hide();
    AjaxRequest('GET' , 'GetProjectByStatus' , 'Project' , -1 , DisplayProjectsByStatus , $('#all'));

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href")
        var status = $(e.target).attr("status")
        AjaxRequest('GET' , 'GetProjectByStatus' , 'Project' , status , DisplayProjectsByStatus , $(target));
    });

    $(document).on("click", '.view-project' , function (event) {
        var body = $("html, body");
        body.stop().animate({scrollTop:0}, 500, 'swing', function() {});
        AjaxRequest('GET' , 'GetProject' , 'Project' , $(this).attr('id') , ViewProject , $(this));
    })

    $('body').on("click", '.edit-pj-icon' , function (event) {
        var body = $("html, body");
        body.stop().animate({scrollTop:0}, 500, 'swing', function() {});
        var projectId = $(this).attr('id');

        $('.view-project-card').hide();

        $('.edit-project').hide();
        $('.edit-project').fadeToggle();

        $('.edit-project-name').val($('.list-pj-name.' + projectId).text());
        $('.edit-project-description').val($('.list-pj-desc.' + projectId).text());
        $('.edit-project-experience').val($('.list-pj-exp.' + projectId).text());
        $('.edit-project-id').val(projectId);
    })

    $('body').on("click", '.delete-pj-icon' , function (event) {
        var projectId = $(this).attr('id');

        AjaxRequest('POST', 'DeleteProject', 'Project', projectId, disappeaProject , $('.list-project-card.' + projectId));
    })

    $('#edit_project_form').submit(function(){
        $('.fa-spinner').show();
        var urlAction = '@Url.Action("EditProject", "Project")';

        $.post(urlAction, $('#edit_project_form').serialize(), function (data) {
            OnSuccessCall(data, null, null);
            $('.list-pj-name.' + data.data.Id).text(data.data.name);
            $('.list-pj-desc.' + data.data.Id).text(data.data.description);
        });
        return false;
    });

    function AjaxRequest(method, action, controller, data = null, handledata = null, viewobj = null) {
        $('.fa-spinner').show();

        var urlAction = '@Url.Action("action", "controller", new { id = "idvalue" })';
        urlAction = urlAction.replace("action", action);
        urlAction = urlAction.replace("controller", controller);
        urlAction = urlAction.replace("idvalue", data);

        $.ajax({
            type: method,
            url: urlAction,
            contentType: "application/json; charset=utf-8",
            data:data,
            dataType: "json",
            success: function (data){
                OnSuccessCall(data , handledata , viewobj);
            },
            error: OnErrorCall
        });
    }

    function OnSuccessCall(response , handledata , viewobj) {
        /*response (status , data , displaySweetAlert , message)*/
        if (handledata) {
            handledata(response.data , viewobj)
        }
        if (response.displaySweetAlert){
            swal("Good job!", response.message , "success")
        }
        if (response.status != "200") {
            swal("Error Occured!", response.message , "error")
        }
        $('.fa-spinner').hide();
    }

    function OnErrorCall(response) {
      /*response (status , data , displaySweetAlert , message)*/
      if(response.displaySweetAlert){
        swal("Error Occured!", response.message , "error")
        }
      $('.fa-spinner').hide();
    }

    function ViewProject(data , viewobj) {
        if (data) {
            if (data.project_manager) {
                manager_name = data.project_manager.first_name + data.project_manager.last_name;
            }
            else {
                manager_name = "";
            }
           $('.edit-project').hide();
          var status = $(viewobj).attr('status');
          var viewProjectCardHeader = $('.view-project-header');
          var viewProjectCard = $('.view-project-card');
          var viewProjectCardFooter = $('.view-project-footer');
          viewProjectCardHeader.removeClass();
          viewProjectCardHeader.addClass('card-header text-white view-project-header bg-' + status);
          viewProjectCardFooter.removeClass();
          viewProjectCardFooter.addClass('card-footer text-white view-project-footer bg-' + status);
          viewProjectCard.removeClass()
          viewProjectCard.addClass('card mb-3 shadow view-project-card border-' + status);
          $('.view-project-name').text(data.name);
          $('.view-project-description').text(data.description);
          $('.view-project-experience').text('1 year or plus');
          $('.view-project-header').text('PJ #'+data.Id);
          $('.view-project-footer').text(data.name);
          $('.view-project-manager').html(`
                      `+ manager_name+``);
          viewProjectCard.hide();
          viewProjectCard.fadeToggle();
        }
        }

    function DisplayProjectsByStatus(data, viewobjt)
    {
        viewobjt.html('');//clear all data displayed in status tab
        $.each(data, function (key , pj) {
            if (pj.status == 0) {
                var style = "primary";//pending
                var status = "pending";
            }
            if (pj.status == 1) {
                var style = "success";//delivered
                var status = "delivered";
            }
            if (pj.status == 2) {
                var style = "danger";//not delivered
                var status = "not delivered";
            }
            if (pj.status == 3) {
                var style = "dark";//approved
                var status = "approved";
            }
            if (pj.status == 4) {
                var style = "dark";//declined
                var status = "declined";
            }
            if (pj.status == 5) {
                var style = "secondary";//declined
                var status = "in progress";
            }
            viewobjt.prepend(`
             <div class="card border-primary shadow mb-3 list-project-card `+pj.Id+`">
                <div class="card-header text-white bg-`+style+`">
                    PJ #`+pj.Id+`
                    <span class="badge badge-dark float-right">`+status+`</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail" src="/images/pj_logo.png" alt="logo" width="100" height="100">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title list-pj-name `+ pj.Id + `">` + pj.name + `</h5>
                            <h6 class="card-subtitle mb-2 text-muted list-pj-desc `+ pj.Id + `">` + pj.description + `.</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <small class="text-muted list-pj-exp `+pj.Id+`">1</small><small class="text-muted"> year or plus</small>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><i class="fas fa-trash-alt float-right text-danger delete-pj-icon" id="`+pj.Id+`"></i></a>
                            <a href="#"><i class="fas fa-edit float-right text-primary mr-3 edit-pj-icon" id="`+pj.Id+`"></i></a>
                            <a href="#"><i class="fas fa-eye float-right text-warning mr-3 view-project" id="`+pj.Id+`" status="`+style+`"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            `);
        });
        }

    function disappeaProject(data, viewobj)
    {
        if (data != 0) {
            viewobj.slideUp();
        }
    }
    </script>
}
