<div class="card mb-3 border-primary shadow view-project-card">
    <div class="card-header bg-primary text-white view-project-header">PJ #</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">Name</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-name"></h6>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Description</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-description"></h6>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Experience</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-experience"></h6>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Manager</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-manager">

                    <span class="badge badge-dark float-right"></span>
                </h6>
            </li>
        </ul>
    </div>
    <div class="card-footer bg-primary text-white view-project-footer">
        PJ #
    </div>
</div>