<div class="card mb-3 border-primary shadow view-project-card">
    <div class="card-header bg-primary text-white view-project-header">PJ #1</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">Name</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-name">Pic W Post</h6>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Description</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-description">PicWPost is a start up on the rise that is poised to change the world of accounting experience.</h6>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Experience</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-experience">3 years +</h6>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Manager</h5>
                <h6 class="card-subtitle mb-2 text-muted view-project-manager">
                    Ahmed mohamed
                    <span class="badge badge-dark float-right">Assigned from 1/1/2018</span>
                </h6>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Details</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="#" class='view-project-details'>details.pdf</a>
                </h6>
            </li>
        </ul>
    </div>
    <div class="card-footer bg-primary view-project-footer">
        <div class="card-text text-white float-left">
            Created:
            <span class="text-white small">1/1/2019 1:00 am</span>
        </div>
        <div class="card-text text-white float-right">
            Updated:
            <span class="text-white small">2/1/2019 1:00 am</span>
        </div>
    </div>
</div>