<div class="card-body">
    <h4 class="small font-weight-bold">Pending<span class="float-right" id="pending_perc"></span></h4>
    <div class="progress mb-4">
        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id="pending_progress"></div>
    </div>
    <h4 class="small font-weight-bold">Delivered <span class="float-right" id="delivered_perc"></span></h4>
    <div class="progress mb-4">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" id="delivered_progress"></div>
    </div>
    <h4 class="small font-weight-bold">Not Delivered<span class="float-right" id="notdelivered_perc"></span></h4>
    <div class="progress mb-4">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" id="notdelivered_progress"></div>
    </div>
    <h4 class="small font-weight-bold">In Progress<span class="float-right" id="inprogress_perc"></span></h4>
    <div class="progress mb-4">
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" id="inprogress_progress"></div>
    </div>
</div>
