
@{
    ViewBag.Title = "Profile";
}

<div class="Container">
    <div class="row">
        <div class="card mb-3 border-primary col-md-12">
            <div class="card-header bg-primary text-white font-weight-bold">
                Profile
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card shadow h-100 bg-dark text-white ">
                            <div class="profile-img mt-2 shadow">
                                <img class="shadow rounded" src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/50549188_2160272934050183_6379706522686980096_n.jpg?_nc_cat=102&_nc_ht=scontent-hbe1-1.xx&oh=3cad7354d843d53dc4641019ddfce9c3&oe=5D4331D3" alt="profile photo" />
                                <div class="file btn btn-lg btn-primary">
                                    <input type="file" name="file" />
                                    Change Photo
                                </div>
                            </div>
                            <div class="mb-4">
                                @{Html.RenderPartial("~/Views/User/CustomerDashboard.cshtml");}
                            </div>
                        </div>
                    </div>
                    <form class="col-md-8" id="edit_user_form">
                        <div class="card shadow p-3">
                            <input class="form-control" type="hidden" name="Id" id="Id" value="1">
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input class="form-control" name="first_name" id="first_name" placeholder="first name" required>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input class="form-control" name="last_name" id="last_name" placeholder="last name" required>
                            </div>
                            <div class="form-group">
                                <label for="job_description">Job Description:</label>
                                <textarea class="form-control" name="jop_description" id="jop_description" placeholder="job description (Software Engineer)" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="email" name="email" id="email" placeholder="example@example.com" required>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile:</label>
                                <input class="form-control" type="number" id="mobile" placeholder="mobile">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-5">Edit</button>
                            <div class="text-center"><i class="fas fa-4x fa-spinner fa-spin text-dark"></i></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $('.fa-spinner').hide();

    AjaxRequest('GET', 'GetUserProfile', 'User', 1, displayUserdata);

    $('#edit_user_form').submit(function(){
        $('.fa-spinner').show();
        var urlAction = '@Url.Action("EditProfile", "User")';

        $.post(urlAction, $('#edit_user_form').serialize(), function (data) {
            OnSuccessCall(data, null, null);
        });
        return false;
    });

    function AjaxRequest(method, action, controller, data = null, handledata = null, viewobj = null) {
        $('.fa-spinner').show();

        var urlAction = '@Url.Action("action", "controller", new { id = "idvalue" })';
        urlAction = urlAction.replace("action", action);
        urlAction = urlAction.replace("controller", controller);
        urlAction = urlAction.replace("idvalue", data);

        $.ajax({
            type: method,
            url: urlAction,
            contentType: "application/json; charset=utf-8",
            data:data,
            dataType: "json",
            success: function (data){
                OnSuccessCall(data , handledata , viewobj);
            },
            error: OnErrorCall
        });
    }

    function OnSuccessCall(response , handledata , viewobj) {
        /*response (status , data , displaySweetAlert , message)*/
        if (handledata) {
            handledata(response , viewobj)
        }
        if (response.displaySweetAlert){
            swal("Good job!", response.message , "success")
        }
        if (response.status != "200") {
            swal("Error Occured!", response.message , "error")
        }
        $('.fa-spinner').hide();
    }

    function OnErrorCall(response) {
      /*response (status , data , displaySweetAlert , message)*/
      if(response.displaySweetAlert){
        swal("Error Occured!", response.message , "error")
        }
      $('.fa-spinner').hide();
    }

    function displayUserdata(response, viewobj = null)
    {
        $('#first_name').val(response.data.first_name);
        $('#last_name').val(response.data.last_name);
        $('#jop_description').val(response.data.jop_description);
        $('#mobile').val(response.data.mobile);
        $('#email').val(response.data.email);
        if (response.dashboardData) {
            $('#pending_perc').text(response.dashboardData[0] + '%');
            $('#pending_progress').css('width', response.dashboardData[0] + '%');
            $('#delivered_perc').text(response.dashboardData[1] + '%');
            $('#delivered_progress').css('width', response.dashboardData[1] + '%');
            $('#notdelivered_perc').text(response.dashboardData[2] + '%');
            $('#notdelivered_progress').css('width', response.dashboardData[2] + '%');
        }
    }

    </script>
}